{
    "extends": "@antfu",
    "rules": {
        "singleline-html-element-content-newline": "off",
        "no-console": "off",
        "no-alert":"off"
    },
    "ignorePatterns": ["**/src-tauri"]
}